* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;

}
.input {
    margin-top: 100px;
    text-align: center;
}

input[type="text"]{
    height: 50px;
    width: 300px;
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border:  none;
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
    text-align: center;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border:  none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    margin-top: 35px;
}
.display {
    text-align: center;
    color: black;
    margin-top: 45px;
}
p {
    color: black;
    border: black;
}
#name {
    margin-top: 25px;
}
textarea {
    color: black;
    background-color: lightgray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border:  none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    width: 300px;
    text-align: center;
}

.title { 
    margin-top: 45px;
    text-align: center;
    font-size: 36px;
}

h2 {
    color: black;
    text-align: center;
    border: black;
}